/* Small screens - MOBILE */
@media only screen {
  .navigation-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: transparent linear-gradient(100deg, #37003c 0%, #281853 100%) 0% 0% no-repeat padding-box; */
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #140f2b80, #630a862c), linear-gradient(to right, #0e122a 0%, #4d3293 100%);
    color: white;
    width: 100%;
    padding: 0.3em 0em;
  }

  .navbar .container {
    padding: 0.18em 0.18em;
  }

  .black-top {
    display: none;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
  }

  .navigation-logo {
    width: 175px;
    max-width: 90%;
    padding: 0.2em
  }

  .nav-right-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-right-content .nav-item {
    display: none;
  }
} /* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
  .black-top {
    display: flex;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    border-bottom: transparent;
    background: #140f2b;
  }

  .navigation-logo {
    max-height: 2em;
  }

  .nav-right-content {
    justify-content: flex-end;
    margin-left: auto;
  }

  .nav-right-content .nav-item {
    padding: 0em 1em;
    display: block;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
} /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */
