.offer-modal-content {
  overflow-wrap: break-word;
  text-align: center;

}

.exclusive {
  text-transform: uppercase;
  color: red;
  font-weight: 700;
}


.offer-modal-description {
    color: grey
}

.show-code {
  display: block;
  padding: 1em 2em;
  font-size: 2em;
  font-weight: 700;
  background-color: rgb(170, 212, 136);
  border-style: dashed;

  margin: 1em;
  
}

.visit-shop {
  display: block;
  text-align: center;
  padding: 1em 2em;
  font-size: 2em;
  font-weight: 700;
  background-color: rgb(50, 155, 204);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}