/* Small screens - MOBILE */
@media only screen {
  .main-offer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .offer-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 1em 0;
  }

  .content-box {
    text-transform: uppercase;
    text-align: center;
    flex-grow: 1;
    border-radius: .3125rem;
    margin: 0em 0.15em;
    padding: 1em;
  }

  .main-offer-content .left-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  .main-offer-content .right-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .available-offers {
    background-color: #a9aaa9;
    flex-grow: 2;
    color: #fff;
    font-weight: 600;
  }

  .filter-box {
    background-color: rgb(247, 69, 15);
    color: #fff;
    font-weight: 600;
  }

.white-box {
  text-align: justify;
  margin: 1em;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  line-height: 1.15rem;

}



  .merchant-description h3 {
    margin: 0em 0em 1em;
  }

  .author {
    font-style: italic; 
  }
} /* Define mobile styles - Mobile First */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
  .merchant-description {
    text-align: left;
  }
} /* min-width 1025px, large screens */
