.cookie-bar {
position: fixed;
bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e90052;
  color: white;
  width: 100%;
}
.cookie-bar .container {
  flex-direction: column;
}

.cookie-info {
    width: 50%
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
}

.cookie-info-button,
.accept-cookies-button {
  padding: 1em;
  margin: 0.5em 0.5em;
  background: #37003c;
  color: white;
}
