/* Small screens - MOBILE */
@media only screen {
  .merchant-description-content {
    align-self: inherit;
    font-size: 10px;
    order: 2;
    background: white;
    padding: 2em;
    border-radius: 5px;
  }



  .merchant-description-content h1 {
    margin: 0;
    color: #140f2b;
  }

  .merchant-description-content p {
    font-weight: 300;
    color: #707070
  }

  .merchant-description-content .title-small {
    margin: 1em 0;
  }
} /* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
  .merchant-description-content {
    font-size: 16px;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
  .merchant-description-content {
    order: 1;
    border-radius: 5px;
    width: 180px;
    align-self: flex-start;

  }

  .merchant-description-content h1 {
    font-size: 1.5em
  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
} /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
  .merchant-description-content {
    width: 280px;
  }
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */
