/* Small screens - MOBILE */
@media only screen {
  .merchant-details {
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
    background: white;
    border-bottom: 2px solid rgba(211, 211, 211, 0.178);
  }

  .merchant-details h1 {
    margin: 0em;
  }

  .merchant-category {
    color: rgb(41, 41, 41);
  }
} /* Define mobile styles - Mobile First */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {

.merchant-details {
}

} /* min-width 1025px, large screens */
