/* Small screens - MOBILE */
@media only screen {
  .merchant-hero {
    background: linear-gradient(to right, #140f2b80, #630a862c),
      20% 0% / cover fixed no-repeat url('../../../assets/planets_hero.svg'),
      linear-gradient(to right, #0e122a 0%, #4d3293 100%);
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .merchant-hero .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .merchant-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .merchant-hero-logo {
    background: white;
    box-shadow: 0px 0px 10px #cf8ce8b9;
    background-color: white;
    border-radius: 50%;
    height: 92px;
    width: 92px;
    overflow: hidden
  }

  .merchant-hero-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .merchant-hero-title {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    margin: 10px 0 0;
    text-transform: uppercase;
  }

  .merchant-hero-category {
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #cf8ce8;
    margin: 0;
    text-transform: uppercase;
  }

  .container.bottom {
    justify-content: flex-end;
    padding: 0;
  }

  .tab-group {
    display: flex;
    flex-direction: row;
  }

  .tab {
    padding: 0.5em 1em;
    color: #ffffff;
    background: #ff2882;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 2px;
  }

  .tab.selected {
    color: #ff2882;
    background: white;
  }

  .merchant-hero-site {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: white;
    margin: 0;
    text-transform: lowercase;
    flex-wrap: wrap;
    max-width: 80%;
  }

  .merchant-hero-site::after {
    content: ' ';
    background-image: url("../../../assets/foreign.svg");
    background-size: contain;
    width: 8px;
    height: 8px;
    position: relative;
  }

  .merchant-hero-site a {
    margin-left: 0.5em;
    color: #cf8ce8;
    cursor: pointer;
  }

  .merchant-hero-site a::hover {
    text-decoration: underline;
  }

  .merchant-mascot {
    display: none;
  }
} /* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
  .merchant-hero {
    background: linear-gradient(to right, #140f2b80, #630a862c), no-repeat right url('../../../assets/planets_hero.svg'),
      linear-gradient(to right, #0e122a 0%, #4d3293 100%);
    width: 100%;
    min-height: 350px;
    justify-content: space-between;
  }

  .merchant-hero-logo {
    height: 150px;
    width: 150px;
  }

  .merchant-hero-title {
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 10px 0 0;
    text-transform: capitalize;
  }

  .merchant-hero-category {
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #cf8ce8;
    margin: 0;
    text-transform: uppercase;
  }

  .tab {
    padding: 0.5em 1.5em;
    margin-right: 5px;
    color: #ffffff;
    font-size: 1.2rem;
  }

  .merchant-hero-site {
    justify-content: flex-start;
    max-width: 100%;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
  .merchant-hero {
    flex-direction: column;
    justify-content: center;
  }
  .merchant-hero .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .merchant-left-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .merchant-hero-logo {
    height: 185px;
    width: 185px;
  }

  .merchant-hero-title {
    font-size: 2rem;
  }

  .merchant-hero-category {
    font-size: 1rem;
  }

  .merchant-hero-details {
    margin-left: 20px;
    align-items: flex-start;
  }

  .merchant-mascot {
    display: inline-block;
  }

  .merchant-mascot img {
    max-width: 350px;
    position: relative;
    bottom: -50px

  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
} /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */
