.offer-button {
  display: inline-flex;
  background-color: rgb(61, 211, 61);
  color: white;
  padding: 1em 1.25em;
  border-radius: 2em;
  font-size: 1.5em;
  cursor: pointer;
}

.voucher-code {
  display: inline-flex;
  padding: 1em 2em;
  font-size: 2em;
  font-weight: 700;
  background-color: rgb(170, 212, 136);
  border-style: dashed;
}