/* Small screens - MOBILE */
@media only screen {


  .navbar {
    padding: 2em;
    background-color: rgb(247, 69, 15);
    
  }

  .logo {
    font-family: Questrial;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
} /* Define mobile styles - Mobile First */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
} /* min-width 1025px, large screens */
