/* Small screens - MOBILE */
@media only screen {
  .offer-content-box {
    display: flex;
    flex-direction: column;
    margin: 1em 1em;
    background-color: white;
    padding: 1.25em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.08);
  }

  .offer-content-box h3 {
    margin: 0.5em 0;
  }

  .offer-content {
    flex-direction: column;
  }



  .offer-desc {
    color: rgb(156, 156, 156);
    margin-bottom: 1em;
  }

  .redeem-button {
    width: auto;
    display: block;

    margin: 0.25em;
    padding: 1.15em;

    background-color: #009ed9;
    border-radius: .1875rem;
    border-width: 0;
    color: #fff;
    cursor: pointer;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.15em;
    text-align: center;
  }
} /* Define mobile styles - Mobile First */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {

  .redeem-button {
    align-self: flex-end;
    min-width: 450px;

  }
} /* min-width 1025px, large screens */
