/* Small screens - MOBILE */
@media only screen {
  .main-offer-box {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }

  .main-offer-box-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(to right, #140f2b, #630a86d5),
      20% 0% / cover no-repeat url('../../../assets/planets_hero.svg'),
      linear-gradient(to right, #0e122a 0%, #4d3293 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 35px;
    width: 100%;

    color: white;
  }

  .main-offer-box-detail {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    min-height: 75px;
  }

  .box-top-details {
    display: flex;
    flex-direction: column;

    font-size: 1.2rem;
    font-weight: 600;
    color: #ff2882;
    text-transform: uppercase;
  }

  .box-top-details span {
    font-size: 1rem;
    font-weight: 300;
  }

  .main-offer-description {
    display: none;
    text-align: left;
    font-size: 0.8rem;
    max-width: 60%;
  }

  .main-offer-type,
  .main-offer-title {
    margin-left: 1em;
  }

  .main-offer-type {
    color: #ff2882;
    text-align: left;
  }

  .main-offer-title {
    text-align: left;
  }

  .exclusive-badge {
    position: absolute;
    top: -15px;
    left: 5%;
    width: 40px;
    height: 40px;
    z-index: 3;
  }

  .main-offer-box-button {
    margin-right: 5%;
  }
} /* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
  .exclusive-badge {
    top: auto;
    right: -40px;
    left: auto;
    width: 80px;
    height: 80px;
    transform: scale(1);

-webkit-transition: all 250ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
-webkit-transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
   -moz-transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
     -o-transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
        transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */  }

  .main-offer-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 125px;
  }

  .main-offer-box:hover .main-offer-box-top {
    width: 22%;
  }

  .main-offer-box:hover .exclusive-badge {
    transform: scale(1.2);
  }

  .main-offer-box-top {
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 20%;
    position: relative;

    -webkit-transition: width 0.2s; /* Safari prior 6.1 */
    transition: width 0.2s;
  }


  .main-offer-box-top span {
    display: none;
  }

  .main-offer-box-detail {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 10px 10px 0;
    padding: 0 0 0 4em;
  }

  .main-offer-type,
  .main-offer-title {
    margin-left: 0em;
  }

  .main-offer-title {
    font-size: 1.5em;
    text-align: left;
  }

  .main-offer-type {
    text-align: left;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
  .main-offer-box {
    width: 100%;
    height: 160px;
  }

  .main-offer-description {
    display: block;
    font-size: 1rem;
  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
} /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */
