

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  height: 300px;
  width: 100%;
 }


.footer .container {
  flex-direction: column;
}

.footer .first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .logo .arrow-up {
  width: 32px;
  height: 32px;
  background-image: url("../../../assets/arrow-pointing-up.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.footer .logo .logo-vouchernaut-indigo {
  background-image: url("../../../assets/logo-vouchernaut-indigo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 32px;
}

.footer .first-line .links {
  font-size: .8rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .first-line .links a {
  color: #281853;
}


.footer .links a {
  text-decoration: none;
  cursor: pointer;
  margin: 0em 1em

}

.footer .links a:hover {
  text-decoration: none;
}

.footer .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.footer .social .facebook {
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/logo-facebook.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.footer .social .instagram {
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/logo-instagram.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.footer .social .twitter {
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/logo-twitter.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.footer .second-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-top: 60px;
}

.footer .second-line .links {
  font-size: .8rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.footer .second-line .links a {
  color: #969696;
}

.footer .second-line .copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer .second-line .copyright-container .copyright {
  font-size: .8rem;
  text-transform: uppercase;
  color: #969696;
}

.copyright {
  text-align: center
}

.footer .a-seismic-product {
  width: 91px;
  height: 25px;
  background-image: url("../../../assets/a-seismic-product.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .footer-ellipse {
      width: 200%;
      height: 320px;
      left: -50%;
  }

  .footer {
      height: 300px;
  }

  .footer .first-line {
      flex-direction: column;
      height: 100px;
  }

  .footer .logo .arrow-up {
      position: relative;
      top: -30px;
      left: -24px;
  }

  .footer .logo .logo-vouchernaut-indigo {
      left: -32px;
      position: relative;
  }

  .footer .second-line {
      flex-direction: column;
      align-items: center;
      height: 200px;
      margin-top: 0;
  }

  .footer .second-line .copyright-container {
      height: 100px;
  }

  .footer .second-line .links {
      height: 48px;
      flex-direction: column;
  }

  .footer .a-seismic-product {
      height: 100px;
      background-position-y: center;
  }
}