.merchantMarkdown {
    background: white;
    border-radius: 10px;
    padding: 1em;
    margin: 1em 0;
}

.merchantMarkdown h3 {
    margin-top: 0
}

.merchantMarkdown p {
    font-weight: 300;
    color: #707070
}