/* Small screens - MOBILE */
@media only screen {
  .merchantMarkdown {
    background: white;
    border-radius: 10px;
    padding: 1em;
    margin: 1em 0;
  }

  .merchantMarkdown h3 {
    margin-top: 0;
  }

  .merchantMarkdown p {
    font-weight: 300;
    color: #707070;
  }

  table {
      font-size: 0.7em;
    border-collapse: collapse;
  }

  th {
    border-bottom: 1px solid black;
  }

  th,
  td {
    padding: 15px;
    text-align: left;
  }
} /* Define mobile styles - Mobile First */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {

    table {
        font-size: 1em;
      border-collapse: collapse;
    }

} /* min-width 641px, medium screens */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
} /* min-width 1025px, large screens */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */
